<footer class="flex flex-col h-auto w-full justify-center mb-12" role="contentinfo" aria-label="Site footer">
    <hr class="w-4/5 mx-auto" />
    <ul class="text-center pb-12 w-screen">
        <li class="lg:text-lg text-xl sm:text-4xl mx-8" id="copyright"></li>
        <li class="lg:text-lg text-xl sm:text-4xl mx-8">If this website isn't accessible to you or you've noticed an accessibility issue, please email our access team at <a class="text-link underline focus:outline-dashed focus:outline-2 focus:outline-offset-2 focus:outline-primary" href="mailto:access@londontranspride.org">access@londontranspride.org</a> to let us know.</li>
    </ul>
</footer>

<script>
    if (year) {
        year = new Date().getFullYear()
    } else {
        var year = new Date().getFullYear();
    }
    document.getElementById("copyright").innerHTML = `© London Trans+ Pride ${year}`;
</script>