{% include 'frontmatter.html' %}
<html lang="en" class="min-h-full" data-theme="dark">
  <body>
    <main class="h-full w-full flex flex-col items-center justify-center">
      {% include 'nav.html' %}
      <div class="py-40 flex flex-col items-center">
        <h1 class="text-6xl font-bold mb-6">Under Construction</h1>
        <p class="text-2xl">
          This page is temporarily unavailable. Please check back soon!
        </p>
      </div>
    </main>
    {% include 'footer.html' %}
  </body>
</html>