{% include 'frontmatter.html' %}
<div class="h-full min-w-full">
    {% include 'nav.html' %}
    <div class="lg:mx-0 lg:pt-8 pt-20 mx-16 flex flex-col relative h-auto w-auto items-center justify-start">
        <header class="lg:w-1/4"><img class="rounded-lg" src="./img/ltp2025.png" alt="London Trans Pride logo">
        </header>
        <main class="lg:my-6 my-16 text-center flex flex-col lg:gap-4 gap-10">
            <h1 class="text-7xl lg:text-4xl font-bold">LONDON TRANS+ <br>PRIDE 2025</h1>
            <h2 class="text-5xl lg:text-2xl leading-snug font-bold text-white">SATURDAY 26th JULY</h2>
            <h2 class="text-5xl lg:text-2xl leading-snug font-bold text-white">1:00 PM BST @ LANGHAM PLACE</h2>

            <ul class="flex flex-row space-x-8 mb-4">
                <li>
                    <a class="text-header underline lg:w-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 flex-col"
                        href="https://www.instagram.com/londontranspride/" target="_blank">Instagram</a>
                </li>
                <li>
                    <a class="text-header underline lg:w-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 flex-col"
                        href="https://www.facebook.com/londontranspride/" target="_blank">Facebook</a>
                </li>
                <li>
                    <a class="text-header underline lg:w-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 flex-col"
                        href="https://www.tiktok.com/@londontranspride" target="_blank">TikTok</a>
                </li>
                <li>
                    <a class="text-header underline lg:w-auto w-full lg:text-2xl text-5xl lg:py-4 py-12 flex-col"
                        href="https://www.gofundme.com/f/london-trans-pride-2025?attribution_id=sl:ea81d4dc-3120-4352-834d-e27306267b56&utm_campaign=natman_sharesheet_dash&utm_medium=customer&utm_source=copy_link" target="_blank">GoFundMe</a>
                </li>
            </ul>
            <h2 class="text-5xl lg:text-2xl leading-snug font-bold text-white">Love + Rage</h2>
            <h2 class="text-5xl lg:text-2xl leading-snug font-bold text-white">🏳️‍⚧️✊❤️‍🔥</h2>
        </main>
    </div>
</div>
{% include 'footer.html' %}

</html>
