{% include 'frontmatter.html' %}
<html lang="en" class="min-h-full" data-theme="dark">

<body>
  <main class="h-full w-full flex flex-col items-center justify-center">
    {% include 'nav.html' %}
    <main class="lg:mx-96 py-10 sm:py-20 mx-2 sm:mx-8 md:mx-16 flex flex-col relative h-auto w-auto items-center"
      id="main-content" tabindex="-1">
      <h1 class="collapse-title lg:text-7xl text-5xl sm:text-8xl text-center font-bold mb-8">
        London Trans+ Pride 2025
      </h1>
      <div class="flex flex-col lg:gap-8 gap-6 sm:gap-12">
        <p class="lg:text-2xl text-5xl leading-snug">
          London Trans+ Pride 2025 will take place on
          <span class="font-semibold text-header">Saturday 26th July 2025</span> from
          <span class="font-semibold text-header">1:00 pm - 6:45 pm (BST)</span>.
        </p>
        {% include 'tilde-break.html' %}
        <p class="lg:text-2xl text-5xl leading-snug">
          The event will consist of our annual march through the streets of
          Central London, and a static gathering.
        </p>
        <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mt-8 mb-2">When & Where</h2>
        <p class="lg:text-2xl text-5xl leading-snug">
          The march will begin gathering and forming up from
          <span class="font-semibold">1:00pm (13:00 BST) on Langham
            Place/the A4201 (southbound)</span>, in the main road near the BBC building
          and All Souls Church.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          It will depart at roughly
          <span class="font-semibold">2:00pm (14:00 BST)</span> making its way
          down Regent Street and through Piccadilly Circus before turning onto
          Haymarket, passing Trafalgar Square via Cockspur Street, and finally
          proceeding onto Whitehall.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          Along the route will be 3 scheduled stops of 10 minutes each.
        </p>
        {% include 'tilde-break.html' %}
        <p class="lg:text-2xl text-5xl leading-snug">
          The march will terminate at Parliament Square Gardens at which point
          attendees can choose to stay in the square to hear speeches and public
          addresses from prominent members of our trans+ community; or make
          their way around the corner to St. James's Park for picnicking &
          socializing, or to find the chill area.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          Attendees who are not participating in the march portion of the day
          (including those less able to stand or walk for long periods) can
          instead make their way directly to Parliament Square Gardens from
          2:00pm.
        </p>
        {% include 'hr-break.html' %}
        <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mb-2">Running Order</h2>
        <ul class="list-disc list-inside lg:text-2xl text-5xl leading-snug">
          <li><span class="font-semibold">13.00:</span> Arrivals; march begins gathering @ Langham Place</li>
          <li><span class="font-semibold">14.00:</span> March departs, proceeding south down Regent Street</li>
          <li><span class="font-semibold">14.30:</span> Scheduled Stop #1 - Lower Regent St/Piccadilly Circus (10 mins)
          </li>
          <li><span class="font-semibold">15.20:</span> Scheduled Stop #2 - Cockspur St/Trafalgar Square (10 mins)</li>
          <li><span class="font-semibold">16.10:</span> Scheduled Stop #3 - Whitehall (10 mins)</li>
          <li><span class="font-semibold">16.30:</span> March arrives @ Parliament Square Gardens</li>
          <li><span class="font-semibold">16.45:</span> Community speeches and celebrations</li>
          <li><span class="font-semibold">18.15:</span> Speeches conclude</li>
          <li><span class="font-semibold">18.45:</span> London Trans+ Pride 2025 officially concludes; departures &
            cleanup begin.</li>
        </ul>
        <p class="lg:text-2xl text-5xl leading-snug text-header">
          * Times are approximate. Expect slight delays or variations to the schedule.
        </p>
        {% include 'hr-break.html' %}
        <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mb-2">Route</h2>
        <p class="lg:text-2xl text-5xl leading-snug">
          Follow the links below for full-sized downloadable maps of the London Trans+ Pride 2025 march route, starting
          point, as well as directions to nearby quiet spaces along the route.
        </p>
        <p class="lg:text-2xl text-5xl leading-snug">
          Maps and route info will also be posted to our <a href="https://www.instagram.com/londontranspride/"
            class="text-primary"></a>Instagram</a>.
        </p>
        <img class="lg:w-1/2 lg:mx-auto" src="../img/route1.png"
          alt="Map showing a march route through central London starting at Langham Place and ending at Parliament Square. The route is marked with a pink dotted line and includes scheduled stops at Piccadilly Circus, Trafalgar Square, and Whitehall, indicated with blue map pins numbered 1 to 3. Quiet areas are marked with black map pins at Golden Square and Crypt Cafe. The route passes through St. James's Park, labeled for community socialising, and ends at Parliament Square for speeches. A blue label at the bottom left corner says 'Route'.">
      </div>
      {% include 'tilde-break.html' %}
      <a href="https://docs.google.com/document/d/1GIjX72a2YugmzldT04fqOttMZrlLlWIYHyHwPbKJg_A/edit?usp=sharing"
        class="text-header sm:text-5xl font-bold underline my-4">🔗 LT+P 2025: Route Maps</a>
      <a href="https://drive.google.com/file/d/1CT3UjcN8kYT0PILLTRyiF21SNTB7raa6/view?usp=sharing"
        class="text-header sm:text-5xl font-bold underline my-4">🔗 LT+P 2025: Main Route Map</a>
      <div aria-role="heading" class="sm:text-5xl text-header font-bold underline my-4">Quiet Spaces:</div>
      <ul class="lg:text-2xl text-5xl leading-snug text-center">
        <li class="my-2 underline">
          <a href="https://drive.google.com/file/d/1lTHlNRAk-rzyicTrMip_tfrC7KPxgd38/view?usp=sharing">🔗 Golden Square
            (map)</a>
        </li>
        <li class="my-2 underline">
          <a href="https://drive.google.com/file/d/16_GsdeGahG_ClQp5S-RvYjThIMkUyVPP/view?usp=sharing">🔗 Crypt Café
            (map)</a>
        </li>
      </ul>
      {% include 'hr-break.html' %}
      <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mt-8 mb-2">What to Bring</h2>
      <h3 class="lg:text-4xl text-3xl sm:text-5xl font-semibold mb-2 mt-6">Essentials:</h3>
      <ul class="list-disc list-inside lg:text-2xl text-5xl leading-snug mb-8">
        <li>Face masks/face coverings</li>
        <li>Hand sanitizer</li>
        <li>Water; reusable bottle</li>
        <li>Sun protection (sunglasses, sunscreen, hats, parasols)</li>
        <li>Any necessary meds, inhalers, mobility devices, etc.</li>
        <li>One or more friends - safety in numbers!</li>
      </ul>

      <h3 class="lg:text-4xl text-3xl sm:text-5xl font-semibold mb-2 mt-6">Recommended:</h3>
      <ul class="list-disc list-inside lg:text-2xl text-5xl leading-snug mb-8">
        <li>Signs; banners; flags; flowers</li>
        <li>Comfortable footwear</li>
        <li>Handheld fans</li>
        <li>Snacks (sandwiches, granola bars, fruit, crisps, etc.)</li>
        <li>Earplugs or Ear Defenders</li>
        <li>Change - some public toilets are pay-to-use (~20-50p fee)</li>
        <li>Backup clothing layers (in case of cooler weather)</li>
      </ul>
      <p class="lg:text-2xl text-5xl leading-snug mt-8">
        <span class="font-semibold text-header">Note:</span> Some LT+P Stewards and members of our Access Team will be
        stocked with limited supplies of earplugs, hand sanitiser, masks, and water that they can provide on request.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug mt-8">
        Bring your own if you have them to help us conserve resources for those who need them!
      </p>
      {% include 'hr-break.html' %}
      <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mb-2">Getting There</h2>

      <h3 class="lg:text-3xl text-2xl sm:text-4xl font-semibold my-6">⭐ LANGHAM PLACE - TUBE</h3>
      <ul class="list-disc list-inside lg:text-2xl text-4xl leading-snug mb-8 w-full">
        <li>
          <span class="font-semibold">OXFORD CIRCUS STATION</span> (Bakerloo, Central, Victoria) ~ 230m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~4-5 mins away via Regent St.</li>
            <li>Not fully step-free</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">BOND STREET</span> (Central, Elizabeth, Jubilee) ~ 600m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~9-10 mins via Oxford St/Regent St.</li>
            <li>Mostly step-free</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">GOODGE STREET</span> (Northern) ~ 800-850m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~11-12 mins via A5204 or Tottenham St/Riding House St</li>
            <li>Not step-free</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">GREAT PORTLAND STREET</span> (Circle, Hammersmith & City, Metropolitan) ~ 850m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~12-13 mins via A4201</li>
            <li>Not step-free</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">TOTTENHAM COURT ROAD</span> (Northern, Central, Elizabeth) ~ 900m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~13-14 mins via Oxford St/A40 and Regent St.</li>
            <li>Mostly step-free</li>
            <li>Accessible toilets outside ticket gateline</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">PICCADILLY CIRCUS</span> (Bakerloo, Piccadilly) ~ 1.1km
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~15-20 mins via Regent St/A4201.</li>
            <li>Not step-free</li>
          </ul>
        </li>
      </ul>

      {% include 'tilde-break.html' %}

      <h3 class="lg:text-3xl text-2xl sm:text-4xl font-semibold my-6">⭐ PARLIAMENT SQUARE - TUBE</h3>
      <ul class="list-disc list-inside lg:text-2xl text-4xl leading-snug mb-8 w-full">
        <li>
          <span class="font-semibold">WESTMINSTER</span> (Jubilee, District, Circle) ~ 55m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~1-2 mins. via A302</li>
            <li>Mostly step-free</li>
            <li>Gendered toilets outside ticket gateline - may be pay-to-use</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">ST. JAMES'S PARK</span> (District & Circle) ~700m
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>~10 mins. Via A302 or Tothill St.</li>
            <li>Not step-free</li>
          </ul>
        </li>
      </ul>

      <p class="lg:text-2xl text-3xl leading-snug my-4">
        * See the "Getting There" section on the <a href="/access" class="text-primary">Access</a> page of our website
        for more information on individual station accessibility, and find detailed underground access guides (step
        count, level platform access etc.) at <a href="https://www.accessable.co.uk/"
          class="text-primary">AccessAble.co.uk</a>
      </p>
      <p class="lg:text-2xl text-3xl leading-snug my-8">
        * Consult TFL's Tube Map and Step-Free Tube Map for detailed info on each station and to plan your journey.
      </p>

      {% include 'tilde-break.html' %}

      <h3 class="lg:text-3xl text-2xl sm:text-4xl font-semibold my-6">⭐ LANGHAM PLACE - BUS</h3>
      <ul class="list-disc list-inside lg:text-2xl text-4xl leading-snug mb-8 w-full">
        <li>
          <span class="font-semibold">HOLLES STREET</span> (Stop OG)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>73, N8, N25, N73</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">NEW CAVENDISH STREET</span>
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>88, 453, N18</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">PORTLAND PLACE</span> (Stop K)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>88, 453, N18</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">GREAT PORTLAND STREET</span> (Stop E, Stop F)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>88, 453, N18</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">JOHN PRINCE'S STREET/OXFORD CIRCUS</span> (Stop JC)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>N137</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">GREAT TITCHFIELD ST/OXFORD CIRCUS STN</span> (Stop OP) (Stop OJ)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>55, 73, 98, 390, N8, N25, N55, N73, N98, N207</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">OXFORD STREET/JOHN LEWIS</span> (Stop OF)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>94, 93, 139, 390, N98, N113, N207</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">OXFORD STREET/JOHN LEWIS</span> (Stop OR)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>7, 94, 93, 139, 390, N7, N98, N113, N137, N207</li>
          </ul>
        </li>
      </ul>

      {% include 'tilde-break.html' %}

      <h3 class="lg:text-3xl text-2xl sm:text-4xl font-semibold my-6">⭐ PARLIAMENT SQUARE - BUS</h3>
      <ul class="list-disc list-inside lg:text-2xl text-4xl leading-snug mb-8 w-full">
        <li>
          <span class="font-semibold">WESTMINSTER STATION/WESTMINSTER PIER</span> (Stop H)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>3, 11, 148, C10</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">WESTMINSTER ABBEY</span> (Stop S)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>11, 148</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">WESTMINSTER ABBEY</span> (Stop R)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>24, 26, N11, N26, N44, N136</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">WESTMINSTER ABBEY</span> (Stop W)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>88</li>
          </ul>
        </li>
        <li>
          <span class="font-semibold">ST. THOMAS' HOSPITAL/COUNTY HALL</span> (Stop D)
          <ul class="list-none list-inside ml-4 lg:text-xl text-3xl">
            <li>11, 12, 148, 159, 453, 734, N53, N109, N155, N381</li>
          </ul>
        </li>
      </ul>
      <div class="lg:text-2xl text-5xl leading-snug my-8 p-4 bg-base-200 rounded-lg px-16 py-12">
        <p class="font-bold text-header mb-2 text-center">Important:</p>
        <p>Expect road closures and bus diversions due to large numbers of people making their way to the event - this
          will also prevent taxi drop-offs from being made directly to the start or end points.</p>
        <p class="mt-2">Be prepared to disembark from transport a short distance away from main roads and travel to
          Langham Place/Parliament Square on foot.</p>
      </div>
      {% include 'hr-break.html' %}
      <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mb-2">General March Safety</h2>
      <h3 class="lg:text-4xl text-3xl sm:text-5xl font-semibold mb-2 mt-6">Face Masks</h3>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        We <span class="font-semibold text-header">strongly encourage</span> attendees to wear FFP2 face masks as a
        measure to protect our immunocompromised comrades on the day. Bandanas and scarves can work in a pinch. There
        will be a <span class="font-semibold text-header">masked section</span> at the front of <span
          class="font-semibold text-header">A-Bloc/Access Bloc</span> - find this zone at the very front of the march.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        Masking up has the added benefit of helping to protect your identity, particularly for those who aren't
        comfortable being photographed or recorded in the crowd for personal or safety reasons.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        <span class="font-semibold text-header">Stay home if you feel you are/could be ill.</span> A live stream will be
        available for remote participation.
      </p>
      {% include 'tilde-break.html' %}
      <h3 class="lg:text-4xl text-3xl sm:text-5xl font-semibold mb-2 mt-6">Legal Observers</h3>
      <p class="lg:text-2xl text-5xl leading-snug my-6 w-full">
        Legal Observers will be present as a standard demo safety measure.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        They can also distribute bust cards with information on interacting with law enforcement and other legal
        guidance.
      </p>
      {% include 'tilde-break.html' %}
      <h3 class="lg:text-4xl text-3xl sm:text-5xl font-semibold mb-2 mt-6">Counter-Protestors</h3>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        As always we're keeping a close eye on any potential disturbances from the far right, and counter-protesters.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        Our teams will have been briefed on emergency preparedness in the event of such an incident. We typically have
        minimal disruption or threat of outside harm on the day.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        Nonetheless, in the interest of safety, <span class="font-semibold text-header">arrive and leave
          together</span>, and <span class="font-semibold text-header">don't go anywhere alone</span>.
      </p>
      {% include 'tilde-break.html' %}
      <h3 class="lg:text-4xl text-3xl sm:text-5xl font-semibold mb-2 mt-6">Police</h3>
      <p class="lg:text-2xl text-5xl leading-snug my-6 w-full">
        We anticipate some police presence at London Trans+ Pride 2025.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        Typically this is fairly minimal and hands-off, and they tend to prioritise managing road closures and
        facilitating traffic safety. That said, there is always a slim possibility of confrontation.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6 text-header font-semibold">
        Police generally stay close to the very back of the march. If you'd prefer not to have to see or interact with
        them, we'd suggest avoiding this area.
      </p>
      <p class="lg:text-2xl text-5xl leading-snug my-6">
        If approached we advise that you try not speak in any depth with Met police officers without a Legal Observer or
        Steward present.
      </p>
      {% include 'hr-break.html' %}
      <h2 class="lg:text-6xl text-4xl sm:text-7xl text-center font-semibold mb-8">LT+P Tips</h2>
      <ul class="list-disc list-inside lg:text-2xl text-5xl leading-snug">
        <li class="mb-4">Be mindful of the space and your place in it.</li>
        <li class="mb-4">Be respectful of personal space, identity, ability, and boundaries at all times.</li>
        <li class="mb-4">Do not directly touch or record anyone without consent.</li>
        <li class="mb-4">Don't obstruct the way for, overtake, or push past your disabled comrades, particularly those
          with mobility aids, canes, or service animals that you could damage.</li>
        <li class="mb-4">Let someone know ASAP if you don't feel safe or need help.</li>
        <li class="mb-4">Prioritise your safety and defend that of those around you.</li>
        <li class="mb-4">Stay aware of your surroundings, always have an exit plan or meeting point worked out for a
          quick exit or means to find your group.</li>
        <li class="mb-4">Buddy up or come in a group. <span class="font-semibold text-header">AVOID ATTENDING
            ALONE.</span></li>
        <li class="mb-4">Make sure you know how to get home, or that someone knows where you are and when you're
          expected to arrive and leave.</li>
        <li class="mb-4">Keep emergency contact info close to hand or written on your skin in marker.</li>
        <li class="mb-4">Stay hydrated!</li>
        <li><span class="font-semibold text-header">LT+P has a zero-tolerance policy for harassment or abuse. Leave
            disrespect at home.</span></li>
      </ul>
    </main>
    {% include 'footer.html' %}
</body>

</html>